<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  {% include "partials/global/meta-info.njk" %}
  <script>document.documentElement.classList.remove('no-js');</script>
  <style>{% include "assets/css/global.css" %}</style>
  <script async src="https://www.googleoptimize.com/optimize.js?id=OPT-M9JQ76Q"></script>
  {% block head %}
  {% endblock %}
</head>
<body>
  {% include "partials/global/site-head.njk" %}
  {% block content %}
  {% endblock content %}
  {% include "partials/global/site-foot.njk" %}
  {% block foot %}
  {% endblock %}
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-1812237-4', 'auto');
    ga('send', 'pageview');
  </script>
  <script src='https://www.google-analytics.com/analytics.js'></script>
  <script src="/js/components/theme-toggle.js" type="module" ></script>
  <script src="/js/components/instantpage.js" type="module"></script>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>
</html>